body {
      margin: 0;
      font-family: Arial, sans-serif;
      background-color: #24a4fa;
      flex-direction: column;
      padding: 0;
      height: 100%;
      display: flex;
    }

    .header {
      /*background: linear-gradient(to bottom, #120fa8, #24a4fa);*/
      background-color: #120fa8;
      font-weight: bold;
      color: white;
      text-align: center;
      padding: 3rem 1rem;
    }

    .header h1 {
      font-size: 3rem;
      margin: 0;
    }

    .header p {
      font-size: 1.2rem;
      margin-top: 0.5rem;
    }

    .container {
      flex: 1;
      max-width: 1200px;
      margin: 2rem auto;
      padding: 0 1rem;
      display: grid;
      gap: 2rem;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    .gift-card {
      background: white;
      border-radius: 0.75rem;
      color: black;
      overflow: hidden;
      box-shadow: 0 4px 20px rgba(255, 255, 255, 0.08);
    }

    .gift-card img {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }

    .info {
      padding: 1rem;
      text-align: center;
    }

    .info h3 {
      margin: 0.5rem 0;
      font-size: 1.5rem;
    }

    .info p {
      color: #555;
      margin: 0.5rem 0;
    }

    .buy-button {
      background-color: #120fa8;
      font-weight: bold;
      color: white;
      padding: 0.75rem 1.5rem;
      border: none;
      border-radius: 9999px;
      cursor: pointer;
      transition: background 0.3s;
    }

    .buy-button:hover {
      background-color: #120fa8;
    }

    /* Modal */
    .modal {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      display: none;
      justify-content: center;
      align-items: center;
      z-index: 1000;
    }

    .modal.active {
      display: flex;
    }

    .modal-content {
      background: white;
      padding: 2rem;
      border-radius: 1rem;
      max-width: 400px;
      width: 90%;
      text-align: center;
      position: relative;
    }

    .modal-content h2 {
      margin-top: 0;
    }

    .modal-content .close {
      position: absolute;
      top: 1rem;
      right: 1rem;
      cursor: pointer;
      font-size: 1.5rem;
      background: none;
      border: none;
    }

    .payment-buttons button {
      margin: 0.5rem;
      padding: 0.75rem 1.5rem;
      border: none;
      border-radius: 0.5rem;
      background-color: #24a4fa;
      color: white;
      cursor: pointer;
      transition: background 0.3s;
    }

    .payment-buttons button:hover {
      background-color: #24a4fa;
    }
    
    .rodape {
    background-color: #120fa8;
    text-align: center;
    padding: 0.5rem;
    line-height: 1.2
    }

    .rodape h1 {
    color: white;
    font-size: 12px;
    margin: 0;
    }
