body {
      margin: 0;
      padding: 0;
      width: 100%;
      font-family: 'Playfair Display', serif;
      background-color: white;
      color: #333;
      text-align: center;
    }

    .img-centro {
      display: block;
      width: 100%;
      height: 150px;
      object-fit: cover;
    }

    .convite-principal {
      padding: 40px 20px 10px; /* menor padding bottom */
      background-color: white;
    }

    .versiculo {
      font-size: 1.1em;
      font-style: italic;
      margin-bottom: 30px;
      max-width: 600px;
      margin-left: auto;
      margin-right: auto;
    }

    .nomes h1 {
      font-family: 'Great Vibes', cursive;
      font-size: 3em;
      margin: 0;
    }

    .nomes span {
      font-family: 'Playfair Display', serif;
      font-size: 1em;
    }

    .convidam {
      font-size: 1.2em;
      margin-top: 5px;
      letter-spacing: 1px;
    }

    .data-hora {
      display: flex;
      justify-content: center;
      gap: 10px;
      font-size: 1.3em;
      margin: 30px auto;
      border-top: 1px solid #888;
      border-bottom: 1px solid #888;
      padding: 10px 0;
      max-width: 400px;
    }

    .cerimonia,
    .recepcao {
      margin-top: 20px;
      font-size: 1em;
      line-height: 1.5;
    }

    .confirmar-limite {
      margin-top: 20px;
      margin-bottom: 0 !important;
      padding-bottom: 0 !important;
      font-size: 0.95em;
      color: #555;
    }

    .save-the-date {
      background-color: white;
      padding: 20px 20px 40px;
      margin-top: -5px; /* Força colar na parte de cima */
    }

    .calendario h2 {
      letter-spacing: 5px;
      font-weight: normal;
    }

    .semana,
    .dias {
      display: flex;
      justify-content: center;
      gap: 20px;
      margin: 10px 0;
      font-size: 0.9em;
    }

    .destaque {
      font-weight: bold;
    }

    .dia-especial {
      font-weight: bold;
      border: 2px dotted white;
      border-radius: 50%;
      padding: 5px 10px;
    }

    .save {
      font-family: 'Great Vibes', cursive;
      font-size: 2em;
      color: #1f3ddb;
      margin-top: 10px;
    }

    .infos {
      font-size: 0.95em;
      margin-bottom: 30px;
    }

    .botao-confirmar {
      display: inline-block;
      margin-top: 20px;
      padding: 12px 24px;
      background-color: #162aa3;
      color: white;
      font-weight: bold;
      border-radius: 8px;
      text-decoration: none;
      transition: 0.3s;
    }

    .botao-confirmar:hover {
      background-color: #0f1c82;
    }

    .img-rodape {
      height: 100px;
      width: 100%;
      object-fit: cover;
      display: block;
      margin-top: 30px;
    }